/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.deliverTime {
    font-size: 10px;
    padding-bottom: 5px;
}

.cursorPointer {
    cursor: pointer;
}
